<div class="container">
  <h1>Login</h1>

  <form [formGroup]="loginForm" (ngSubmit)="submitCredentials()" class="login-form">
    <label for="email-i">Email:</label>
    <input id="email-i" type="text" formControlName="email" class="login-input" />

    <label for="password-i">Password:</label>
    <input id="password-i" type="password" formControlName="password" class="login-input" />

    <button type="submit" class="submit-button" [disabled]="loading">
      Log In
    </button>
  </form>
</div>