<div class="container">
  <h1>Login</h1>

  <form [formGroup]="loginForm" (ngSubmit)="submitCredentials()" class="login-form">
    <label for="email-i">Email:</label>
    <input id="email-i" type="text" formControlName="email" class="login-input" />

    <label for="password-i">Password:</label>
    <input id="password-i" type="password" formControlName="password" class="login-input" />

    <div class="buttons-container">
      <button type="submit" class="submit-button" [disabled]="loading">
        Log In
      </button>

      <button type="button" class="sign-up-button" [disabled]="loading" (click)="goToSignUp()">
        Sign Up
      </button>
    </div>
  </form>
</div>