@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");

  .header-container {
    background-color: mat.get-color-from-palette($primary-palette, "default");
  }

  .home-link {
    color: mat.get-color-from-palette($primary-palette, "text");
  }

  .list-button,
  .add-button,
  .settings-button,
  .create-button,
  .mode-button {
    background-color: mat.get-color-from-palette($accent-palette, "default");
  }

  .active-button {
    background-color: mat.get-color-from-palette($primary-palette, "darker");
  }
}