.header-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  font-size: 50px;
  font-weight: bold;
  width: 100%;
}

.left-section {
  padding-left: 20px;
  white-space: nowrap;
}

.home-link {
  text-decoration: none;
}

.right-section {
  display: flex;
  width: 400px;
  padding-right: 5px;
}

.page-link {
  margin: 0 3%;
  display: flex;
  justify-content: center;
}

.list-button,
.add-button,
.settings-button,
.create-button,
.mode-button
{
  position: relative;
  padding: 3%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.button-tooltip {
  position: absolute;
  color: white;
  background-color: black;
  padding: 4px;
  pointer-events: none;
  font-weight: 500;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.5s;
  white-space: nowrap;
}

.list-button .button-tooltip {
  bottom: -60%;
  right: -65%;
}

.add-button .button-tooltip {
  bottom: -60%;
  right: -40%;
}

.create-button .button-tooltip {
  bottom: -60%;
  right: -50%;
}

.settings-button .button-tooltip {
  bottom: -60%;
  right: -20%;
}

.mode-button .button-tooltip {
  bottom: -60%;
  right: -45%;
}

.list-button:hover .button-tooltip,
.add-button:hover .button-tooltip,
.settings-button:hover .button-tooltip,
.create-button:hover .button-tooltip,
.mode-button:hover .button-tooltip {
  opacity: 1;
}

.list-image {
  width: 50px;
}

.add-image {
  width: 50px;
}

.settings-image {
  width: 50px;
}

.create-image {
  width: 50px;
}

.mode-image {
  width: 50px;
}