.header-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  font-size: 50px;
  font-weight: bold;
  width: 100%;
}

.left-section {
  padding-left: 20px;
  white-space: nowrap;
}

.home-link {
  text-decoration: none;
}

.right-section {
  display: flex;
  width: 400px;
  padding-right: 5px;
}

.list-button,
.add-button,
.settings-button,
.create-button,
.mode-button {
  position: relative;
  margin-left: 5%;
  padding: 1%;
  border: none;
  cursor: pointer;
}

.button-tooltip {
  position: absolute;
  color: white;
  background-color: black;
  padding: 4px;
  pointer-events: none;
  font-weight: 500;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.5s;
  white-space: nowrap;
}

.list-button .button-tooltip {
  bottom: -60%;
  right: -65%;
}

.add-button .button-tooltip {
  bottom: -60%;
  right: -40%;
}

.create-button .button-tooltip {
  bottom: -60%;
  right: -50%;
}

.settings-button .button-tooltip {
  bottom: -60%;
  right: -30%;
}

.mode-button .button-tooltip {
  bottom: -60%;
  right: -50%;
}

.list-button:hover .button-tooltip,
.add-button:hover .button-tooltip,
.settings-button:hover .button-tooltip,
.create-button:hover .button-tooltip,
.mode-button:hover .button-tooltip {
  opacity: 1;
}

.list-image {
  width: 40px;
}

.add-image {
  width: 40px;
  /*
  Source - https://stackoverflow.com/a
  Posted by Manish Menaria, modified by community. See post 'Timeline' for change history
  Retrieved 2025-11-07, License - CC BY-SA 4.0
  */
  filter: invert(46%) sepia(80%) saturate(2746%) hue-rotate(174deg) brightness(105%) contrast(104%);
}

.settings-image {
  width: 40px;
  filter: invert(51%) sepia(0%) saturate(1674%) hue-rotate(188deg) brightness(98%) contrast(91%);
}

.create-image {
  width: 40px;
  filter: invert(63%) sepia(40%) saturate(7149%) hue-rotate(89deg) brightness(117%) contrast(112%);
}

.mode-image {
  width: 40px;
}