<header class="header-container">
  <div class="left-section">
    <a routerLink="/home" class="home-link">Shopping List.</a>
  </div>

  <div class="right-section">
    <a routerLink="/home" class="page-link">
      <button class="list-button" [class.active-button]="selectedPage == 'list'" (click)="changeActivePage('list')">

        <img class="list-image" src="../../assets/images/list.svg" />


        <div class="button-tooltip">
          Shopping List
        </div>
      </button>
    </a>

    <a routerLink="/add" class="page-link">
      <button class="add-button" [class.active-button]="selectedPage == 'add'" (click)="changeActivePage('add')">
        <img class="add-image" src="../../assets/images/add.svg" />

        <div class="button-tooltip">
          Add Items
        </div>
      </button>
    </a>

    <a routerLink="/create" class="page-link">
      <button class="create-button" [class.active-button]="selectedPage == 'create'"
        (click)="changeActivePage('create')">
        <img class="create-image" src="../../assets/images/create.svg" />

        <div class="button-tooltip">
          Create Item
        </div>
      </button>
    </a>

    <a routerLink="/settings" class="page-link">
      <button class="settings-button" [class.active-button]="selectedPage == 'settings'"
        (click)="changeActivePage('settings')">
          <img class="settings-image" src="../../assets/images/settings.svg" />

        <div class="button-tooltip">
          Settings
        </div>
      </button>
    </a>

    <a class="page-link">
      <button class="mode-button" (click)="toggleDarkMode()">
        <img class="mode-image" src="../../assets/images/dark.svg" *ngIf="!darkModeEnabled" />
        <img class="mode-image" src="../../assets/images/light.svg" *ngIf="darkModeEnabled" />

        <div class="button-tooltip" *ngIf="!darkModeEnabled">
          Dark Mode
        </div>
        <div class="button-tooltip" *ngIf="darkModeEnabled">
          Light Mode
        </div>
      </button>
    </a>
  </div>
</header>