<header class="header-container">
  <div class="left-section">
    <a routerLink="/home" class="home-link">Shopping List.</a>
  </div>

  <div class="right-section">
    <button class="add-button">
      <a routerLink="/add">
        <img class="add-image" src="../../assets/images/add.svg" />
      </a>

      <div class="button-tooltip">
        Add Items
      </div>
    </button>

    <button class="create-button">
      <a routerLink="/create">
        <img class="create-image" src="../../assets/images/create.svg" />
      </a>

      <div class="button-tooltip">
        Create Item
      </div>
    </button>

    <button class="settings-button">
      <a routerLink="/settings">
        <img class="settings-image" src="../../assets/images/settings.svg" />
      </a>
      
      <div class="button-tooltip">
        Settings
      </div>
    </button>
  </div>
</header>