button {
  padding: 10px;
  margin: 10px;
  background-color: rgb(66, 66, 66);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

img {
  object-fit: contain;
  object-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  font-size: 25px;
}

.shopping-list-container {
  margin-top: 5vh;
  width: 100%;
}

.shopping-list {
  padding: 0;
  list-style: none;
  height: 65vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

/* Hide scrollbar in Chrome, Safari, and Edge */
.shopping-list::-webkit-scrollbar {
  display: none;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 0 20px;
  margin: 1%;
  font-weight: 600;
}

.quantity-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-label {
  font-size: 18px;
  margin-right: 5px;
}

.quantity-input {
  padding: 5px;
  font-size: 16px;
}

.quantity-submit-button {
  background-color: aquamarine;
  border-radius: 2px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}

.check-button,
.delete-button,
.edit-button {
  position: relative;
}

.button-tooltip {
  position: absolute;
  color: white;
  background-color: black;
  padding: 4px;
  pointer-events: none;
  font-weight: 500;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.5s;
  white-space: nowrap;
}

.check-button .button-tooltip {
  right: 10%;
  bottom: -45%;
}

.edit-button .button-tooltip {
  right: -25%;
  bottom: -45%;
}

.delete-button .button-tooltip {
  right: 7%;
  bottom: -45%;
}

.check-button:hover .button-tooltip,
.delete-button:hover .button-tooltip,
.edit-button:hover .button-tooltip {
  opacity: 1;
}

.check-image {
  width: 50px;
  /*
  Source - https://stackoverflow.com/a
  Posted by Manish Menaria, modified by community. See post 'Timeline' for change history
  Retrieved 2025-11-07, License - CC BY-SA 4.0
  */
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(100%) contrast(119%);
}

.uncheck-image {
  width: 50px;
  filter: invert(16%) sepia(88%) saturate(7500%) hue-rotate(0deg) brightness(104%) contrast(118%);
}

.edit-image {
  width: 50px;
}

.delete-image {
  width: 50px;
  filter: invert(16%) sepia(88%) saturate(90000%) hue-rotate(0deg) brightness(104%) contrast(118%);
}

.empty-list-text,
.loading-text {
  margin-top: 10%;
  font-weight: 500;
  font-size: 43px;
}

.checked {
  background-color: rgb(90, 247, 90);
}