<div class="container">
  <h2>Change Email and Password</h2>

  <form class="settings-form" [formGroup]="credentialsForm" (ngSubmit)="saveCredentials()">
    <input class="settings-input" type="email" formControlName="email" placeholder="New email..." required />
    <input class="settings-input" type="password" formControlName="password" placeholder="New password..." required />

    <div class="buttons-container">
      <button class="edit-button" *ngIf="!isEditing" (click)="editCredentials()">
        Edit
      </button>

      <button class="save-button" type="submit" *ngIf="isEditing">
        Save
      </button>
    </div>
  </form>

  <div class="logout-button-container">
    <button class="logout-button" (click)="logout()">
      Log Out
    </button>
  </div>

  <div class="confirmation-popup" *ngIf="showConfirmation">
    Credentials updated!
  </div>
</div>