.container {
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 200px;
  margin-top: 3%;
  height: 65vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.items-grid::-webkit-scrollbar {
  display: none;
}

.grid-button {
  font-family: "Manrope";
  width: 300px;
  height: 250px;
  font-size: 36px;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.grid-button:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.336);
}

.grid-button:active {
  box-shadow: none;
}