@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");

  .search-bar {
    background-color: mat.get-color-from-palette($primary-palette, "lighter");
    color: mat.get-color-from-palette($accent-palette, "text");
  }

  .search-bar::placeholder {
    color: mat.get-color-from-palette($accent-palette, "text");
  }
}