.search-bar-container {
  display: flex;
  justify-content: center;
  width: 95vw;
}

.search-bar {
  width: 90%;
  padding: 1%;
  font-size: 30px;
  border-radius: 40px;
  margin-top: 25px;
  border: none;
}