<div [class.dark-mode]="darkModeEnabled" [class.light-mode]="!darkModeEnabled" class="app-background" [@routeAnimations]="getRouteAnimationData()">
  <app-header *ngIf="user"></app-header>
  <router-outlet></router-outlet>

  <div class="confirmation-popup" *ngIf="showConfirmation" [@confirmationPopUpAnimation]>
    {{confirmationMessage}}
  </div>

  <div class="error-popup" *ngIf="showError" [@errorPopUpAnimation]>
    Error: {{errorMessage}}
  </div>

  <app-footer *ngIf="user && usingMobileDevice"></app-footer>
</div>