.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vh;
  font-size: 24px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-top: 15px;
}

.form-input {
  margin-top: 5px;
  font-size: 20px;
  padding: 10px;
}

.buttons-container {
  margin-top: 20%;
  display: flex;
  justify-content: space-between;
}

.back-button {
  background-color: rgb(255, 39, 39);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.submit-button {
  background-color: rgb(5, 206, 5);
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
}