@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");

  .container {
    color: mat.get-color-from-palette($primary-palette, "text");
  }

  .create-input {
    background-color: mat.get-color-from-palette($primary-palette, "lighter");
    color: mat.get-color-from-palette($accent-palette, "text");
  }

  .create-input::placeholder {
    color: mat.get-color-from-palette($accent-palette, "text");
  }

  .submit-button {
    background-color: mat.get-color-from-palette($accent-palette, "default");
    color: mat.get-color-from-palette($accent-palette, "text");
  }
}