/* You can add global styles to this file, and also import other style files */
body {

  /* header is 75px */
  margin-top: 75px;
  font-family: "Manrope", Arial;
  margin: 0;
}

.confirmation-popup {
  position: fixed;
  font-size: 20px;
  color: rgb(0, 128, 43);
  right: 3%;
  bottom: 3%;
  background-color: rgb(252, 239, 215);
  font-weight: bold;
  padding: 20px;
}

.error-popup {
  position: fixed;
  font-size: 20px;
  color: red;
  right: 3%;
  bottom: 3%;
  background-color: rgb(252, 239, 215);
  font-weight: bold;
  padding: 20px;
}

.dark-mode {
  background-color: rgb(55, 55, 55);
}

.dark-mode .confirmation-popup {
  background-color: rgb(149, 117, 205);
  color: rgb(137, 253, 176);
}

.dark-mode .error-popup {
  background-color: rgb(149, 117, 205);
  color: red;
}

@media (max-width: 715px) {
  .confirmation-popup {
    right: 5%;
    bottom: 10%;
  }

  .error-popup {
    right: 5%;
    bottom: 10%;
  }
}

/* Animation for switching between light and dark modes */
* {
  transition: color 0.5s ease-out, background-color 0.5s ease-out;
}