/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  /* header is 75px */
  margin-top: 75px;
  font-family: "Manrope", Arial;
}

.confirmation-popup {
  position: fixed;
  font-size: 20px;
  color: purple;
  right: 3%;
  bottom: 3%;
  background-color: rgb(252, 239, 215);
  font-weight: bold;
  padding: 20px;
}

.error-popup {
  position: fixed;
  font-size: 20px;
  color: red;
  right: 3%;
  bottom: 3%;
  background-color: rgb(252, 239, 215);
  font-weight: bold;
  padding: 20px;
}